In [1]:
import pandas as pd

In [4]:
file_path = r'C:\Users\USER\Documents\PERSONAL UBER INSIGHTS\Uber Data\Rider\trips_data-0.csv'
df= pd.read_csv(file_path)
def get_rows(df, n: int=5):
    return df.head(n)
result = get_rows(df)
print(result)

      city product_type     status              request_time  \
0  Nairobi        eBoda  completed  2024-09-11T12:01:45.000Z
1  Nairobi        eBoda  completed  2024-08-25T15:06:54.000Z
2  Nairobi        eBoda  completed  2024-08-25T11:53:34.000Z
3  Nairobi        eBoda  completed  2024-08-25T10:25:58.000Z
4  Nairobi        eBoda  completed  2024-08-24T15:27:49.000Z

            begin_trip_time  begintrip_lat  begintrip_lng  \
0  2024-09-11T12:09:31.000Z      -1.299779      36.829910
1  2024-08-25T15:19:36.000Z      -1.316775      36.806267
2  2024-08-25T11:56:48.000Z      -1.297798      36.792316
3  2024-08-25T10:36:45.000Z      -1.316863      36.806255
4  2024-08-24T15:45:04.000Z      -1.316735      36.806248

                                   begintrip_address  \
0  Dunga road, National Water Plaza, 3rd Floor, N...
1                           MRM4+4FH, Nairobi, Kenya
2                       Kindaruma Rd, Nairobi, Kenya
3                           MRM4+4FH, Nairobi, Kenya
4                           MRM4+4FH, Nairobi, Kenya

               dropoff_time  dropoff_lat  dropoff_lng  \
0  2024-09-11T12:21:32.000Z    -1.272772    36.806680
1  2024-08-25T15:35:07.000Z    -1.285914    36.827530
2  2024-08-25T12:06:00.000Z    -1.315143    36.807747
3  2024-08-25T10:44:58.000Z    -1.297827    36.792217
4  2024-08-24T15:51:08.000Z    -1.299033    36.800007

                                     dropoff_address  distance  \
0  Department Of Computing And Informatics, Wasaw...      3.12
1          PR7H+G4F, Mfangano Street, Nairobi, Kenya      3.88
2  MRM3+MJG Nyayo Highrise, Unnamed Road, Nairobi...      2.72
3                       Kindaruma Rd, Nairobi, Kenya      2.50
4                           Ngong Rd, Nairobi, Kenya      1.71

     fare_currency  fare_amount
0  Kenyan Shilling        160.0
1  Kenyan Shilling        180.0
2  Kenyan Shilling        140.0
3  Kenyan Shilling        130.0
4  Kenyan Shilling        110.0

In [5]:
df.head()

,city,product_type,status,request_time,begin_trip_time,begintrip_lat,begintrip_lng,begintrip_address,dropoff_time,dropoff_lat,dropoff_lng,dropoff_address,distance,fare_currency,fare_amount
0,Nairobi,eBoda,completed,2024-09-11T12:01:45.000Z,2024-09-11T12:09:31.000Z,-1.299779,36.829910,"Dunga road, National Water Plaza, 3rd Floor, N...",2024-09-11T12:21:32.000Z,-1.272772,36.806680,"Department Of Computing And Informatics, Wasaw...",3.12,Kenyan Shilling,160.0
1,Nairobi,eBoda,completed,2024-08-25T15:06:54.000Z,2024-08-25T15:19:36.000Z,-1.316775,36.806267,"MRM4+4FH, Nairobi, Kenya",2024-08-25T15:35:07.000Z,-1.285914,36.827530,"PR7H+G4F, Mfangano Street, Nairobi, Kenya",3.88,Kenyan Shilling,180.0
2,Nairobi,eBoda,completed,2024-08-25T11:53:34.000Z,2024-08-25T11:56:48.000Z,-1.297798,36.792316,"Kindaruma Rd, Nairobi, Kenya",2024-08-25T12:06:00.000Z,-1.315143,36.807747,"MRM3+MJG Nyayo Highrise, Unnamed Road, Nairobi...",2.72,Kenyan Shilling,140.0
3,Nairobi,eBoda,completed,2024-08-25T10:25:58.000Z,2024-08-25T10:36:45.000Z,-1.316863,36.806255,"MRM4+4FH, Nairobi, Kenya",2024-08-25T10:44:58.000Z,-1.297827,36.792217,"Kindaruma Rd, Nairobi, Kenya",2.50,Kenyan Shilling,130.0
4,Nairobi,eBoda,completed,2024-08-24T15:27:49.000Z,2024-08-24T15:45:04.000Z,-1.316735,36.806248,"MRM4+4FH, Nairobi, Kenya",2024-08-24T15:51:08.000Z,-1.299033,36.800007,"Ngong Rd, Nairobi, Kenya",1.71,Kenyan Shilling,110.0

In [6]:
#Converting the request time column to datetime
df['request_time'] = pd.to_datetime(df['request_time'], utc=True)

#converting the request time to Nairobi time(UTC +3) and localizing it 
df['request_time'] = df['request_time'].dt.tz_convert('Africa/Nairobi')
df['request_time']= df['request_time'].dt.tz_localize(None)

# Extracting date and time components for request_time
df['request_date'] = df['request_time'].dt.date
df['request_time'] = df['request_time'].dt.time


# Extracting additional date components for better analysis
df['request_year'] = pd.to_datetime(df['request_date']).dt.year
df['request_month'] = pd.to_datetime(df['request_date']).dt.month
df['request_day'] = pd.to_datetime(df['request_date']).dt.day

# Extracting day of the week
df['request_day_of_week'] = pd.to_datetime(df['request_date']).dt.day_name() 

#Converting the request time column to datetime
df['begin_trip_time'] = pd.to_datetime(df['begin_trip_time'], utc=True)

#converting the request time to Nairobi time(UTC +3)
df['begin_trip_time'] = df['begin_trip_time'].dt.tz_convert('Africa/Nairobi')
df['begin_trip_time']= df['begin_trip_time'].dt.tz_localize(None)

# Extract date and time components for begin_trip_time
df['begin_trip_date'] = df['begin_trip_time'].dt.date
df['begin_trip_time'] = df['begin_trip_time'].dt.time

# Extracting additional date components for better analysis
df['begin_trip_year'] = pd.to_datetime(df['request_date']).dt.year
df['begin_trip_month'] = pd.to_datetime(df['request_date']).dt.month
df['begin_trip_day'] = pd.to_datetime(df['request_date']).dt.day

# Extracting day of the week
df['begin_trip_day_of_week'] = pd.to_datetime(df['request_date']).dt.day_name() 

#Converting the request time column to datetime
df['dropoff_time'] = pd.to_datetime(df['dropoff_time'], utc=True)

#converting the request time to Nairobi time(UTC +3)
df['dropoff_time'] = df['dropoff_time'].dt.tz_convert('Africa/Nairobi')
df['dropoff_time']= df['dropoff_time'].dt.tz_localize(None)

# Extracting date and time components for dropoff_time
df['dropoff_date'] = df['dropoff_time'].dt.date
df['dropoff_time'] = df['dropoff_time'].dt.time

# Extracting additional date components for better analysis
df['dropoff_year'] = pd.to_datetime(df['request_date']).dt.year
df['dropoff_month'] = pd.to_datetime(df['request_date']).dt.month
df['dropoff_day'] = pd.to_datetime(df['request_date']).dt.day

# Extracting day of the week
df['dropoff_day_of_week'] = pd.to_datetime(df['request_date']).dt.day_name() 

print("Data cleaned and saved successfully!")

Data cleaned and saved successfully!

In [7]:
df.head()

,city,product_type,status,request_time,begin_trip_time,begintrip_lat,begintrip_lng,begintrip_address,dropoff_time,dropoff_lat,...,begin_trip_date,begin_trip_year,begin_trip_month,begin_trip_day,begin_trip_day_of_week,dropoff_date,dropoff_year,dropoff_month,dropoff_day,dropoff_day_of_week
0,Nairobi,eBoda,completed,15:01:45,15:09:31,-1.299779,36.829910,"Dunga road, National Water Plaza, 3rd Floor, N...",15:21:32,-1.272772,...,2024-09-11,2024,9,11,Wednesday,2024-09-11,2024,9,11,Wednesday
1,Nairobi,eBoda,completed,18:06:54,18:19:36,-1.316775,36.806267,"MRM4+4FH, Nairobi, Kenya",18:35:07,-1.285914,...,2024-08-25,2024,8,25,Sunday,2024-08-25,2024,8,25,Sunday
2,Nairobi,eBoda,completed,14:53:34,14:56:48,-1.297798,36.792316,"Kindaruma Rd, Nairobi, Kenya",15:06:00,-1.315143,...,2024-08-25,2024,8,25,Sunday,2024-08-25,2024,8,25,Sunday
3,Nairobi,eBoda,completed,13:25:58,13:36:45,-1.316863,36.806255,"MRM4+4FH, Nairobi, Kenya",13:44:58,-1.297827,...,2024-08-25,2024,8,25,Sunday,2024-08-25,2024,8,25,Sunday
4,Nairobi,eBoda,completed,18:27:49,18:45:04,-1.316735,36.806248,"MRM4+4FH, Nairobi, Kenya",18:51:08,-1.299033,...,2024-08-24,2024,8,24,Saturday,2024-08-24,2024,8,24,Saturday

In [8]:
datetime_dim = df[['request_date', 'request_time','request_year','request_month','request_day','request_day_of_week','begin_trip_date','begin_trip_time','begin_trip_year','begin_trip_month','begin_trip_day','begin_trip_day_of_week','dropoff_date','dropoff_time', 'dropoff_year','dropoff_month','dropoff_day','dropoff_day_of_week',]]

In [20]:
starting_value = 1
datetime_dim.index = range(starting_value, starting_value + len(datetime_dim))
# Setting  'datetime_id' as the index
datetime_dim.loc[:,'datetime_id'] = datetime_dim.index

In [21]:
datetime_dim = datetime_dim[['datetime_id','request_date', 'request_time','request_year','request_month','request_day','request_day_of_week','begin_trip_date','begin_trip_time','begin_trip_year','begin_trip_month','begin_trip_day','begin_trip_day_of_week','dropoff_date','dropoff_time', 'dropoff_year','dropoff_month','dropoff_day','dropoff_day_of_week',]]

In [22]:
datetime_dim

,datetime_id,request_date,request_time,request_year,request_month,request_day,request_day_of_week,begin_trip_date,begin_trip_time,begin_trip_year,begin_trip_month,begin_trip_day,begin_trip_day_of_week,dropoff_date,dropoff_time,dropoff_year,dropoff_month,dropoff_day,dropoff_day_of_week
1,1,2024-09-11,15:01:45,2024,9,11,Wednesday,2024-09-11,15:09:31,2024,9,11,Wednesday,2024-09-11,15:21:32,2024,9,11,Wednesday
2,2,2024-08-25,18:06:54,2024,8,25,Sunday,2024-08-25,18:19:36,2024,8,25,Sunday,2024-08-25,18:35:07,2024,8,25,Sunday
3,3,2024-08-25,14:53:34,2024,8,25,Sunday,2024-08-25,14:56:48,2024,8,25,Sunday,2024-08-25,15:06:00,2024,8,25,Sunday
4,4,2024-08-25,13:25:58,2024,8,25,Sunday,2024-08-25,13:36:45,2024,8,25,Sunday,2024-08-25,13:44:58,2024,8,25,Sunday
5,5,2024-08-24,18:27:49,2024,8,24,Saturday,2024-08-24,18:45:04,2024,8,24,Saturday,2024-08-24,18:51:08,2024,8,24,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,105,2024-03-27,19:14:02,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday
106,106,2024-03-27,19:13:18,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday
107,107,2024-03-27,19:08:26,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday,NaT,NaT,2024,3,27,Wednesday
108,108,2024-03-09,23:58:24,2024,3,9,Saturday,NaT,NaT,2024,3,9,Saturday,NaT,NaT,2024,3,9,Saturday
109,109,2019-06-14,19:38:41,2019,6,14,Friday,2019-06-14,20:40:16,2019,6,14,Friday,2019-06-14,20:45:51,2019,6,14,Friday